{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}
{% block body %}

	<div>
		<h1>Votre Panier</h1>
	</div>
	<div>
		{% for key in items %}
			<img src="{{asset('assets/images/'~ key.image)}}" alt="{{key.name}}">
			<h2>{{key.name}}</h2>
			<p>{{key.description}}</p>
			{{key.price}} €
		{% endfor %}

	</div>

{% endblock body %}
